[submodule "breathalyzer"]
	path = breathalyzer
	url = https://github.com/marigold-dev/breathalyzer
[submodule "vendor/ctez"]
	path = vendor/ctez
        url = https://github.com/marigold-dev/ctez
	branch = main
[submodule "math-lib-cameligo"]
	path = math-lib-cameligo
	url = https://github.com/ligolang/math-lib-cameligo
